.add-your-recipes {
    display: flex;
}
.recipe-form form {
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.recipe-form form * {
    margin: 5px;
}
.recipe-form form input {
    border-radius: 8px;
}
.recipe-form form textarea {
    border-radius: 8px;
}
@media (max-width: 1024px) {
    .add-your-recipes {
        flex-direction: column;
        align-items: center;
    }

    #carouselExampleControls {
        width: 80%;
        height: 50vh; 
        display: none;
    }

    .recipe-form {
        width: 80%;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    #carouselExampleControls {
        width: 90%;
        height: 40vh;
        display: none;
    }

    .recipe-form {
        width: 90%;
    }

    .recipe-form form {
        padding: 20px; 
    }

    .recipe-form form input,
    .recipe-form form textarea {
        font-size: 14px; 
    }
}

@media (max-width: 576px) {
    #carouselExampleControls {
        width: 100%;
        height: 30vh;
        display: none;
    }

    .recipe-form {
        width: 100%;
    }

    .recipe-form form {
        padding: 10px; 
    }

    .recipe-form form label {
        font-size: 14px; 
    }

    .recipe-form form input,
    .recipe-form form textarea {
        font-size: 12px; 
    }

    .recipe-form form button {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    #carouselExampleControls {
        height: 25vh;
    }

    .recipe-form form {
        padding: 5px;
    }

    .recipe-form form label {
        font-size: 12px; 
    }

    .recipe-form form input,
    .recipe-form form textarea {
        font-size: 10px; 
    }

    .recipe-form form button {
        font-size: 12px;
    }
}

